.list-group-item[data-author][data-entreprise]:hover::after {
  content: attr(data-author) " - " attr(data-entreprise);
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  z-index: 10;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-size: 0.875rem;
}

#soft .list-group-item {
  position: relative;
  cursor: help;
}
