:root {
  --primary: #507075;
  --secondary: #333;
  --text: #555;
  --white: #fff;
  --card-background: #f8f9fa;
  --muted-text: #666;
}

body {
  font-family: Arial, sans-serif;
  color: var(--text);
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}

.card {
  margin-top: 2rem;
  border: 1px solid var(--primary);
  background-color: var(--card-background);
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  color: var(--secondary);
}

.card-text {
  font-size: 1.1rem;
  color: var(--muted-text);
}

.list-group-item {
  font-size: 1.1rem;
  color: var(--secondary);
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.logo {
  width: 150px;
  height: 70px;
  object-fit: cover;
}

th:hover {
  cursor: pointer !important;
}

.status,
.date {
  text-align: center;
}
.carousel .slider-wrapper {
  overflow: visible !important;
}
.carousel {
  height: 65vh;
}

.slide {
  height: 100% !important;
}

.image-bg {
  background-color: var(--card-background);
}

.btn {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--primary);
}
.btn:hover {
  transition: 0.3s;
  border: 1px solid var(--primary);
}
